---
import MobileMenu from "./MobileMenu.astro";

---

<header class="px-6 py-4 bg-brand-dark sticky top-0 z-50 text-brand-accent font-sans flex items-center">
    <MobileMenu />
    <div class="flex items-center justify-center md:justify-start w-full">
      <a href="/"><img src="/logo-full-wet.svg" alt="Full Wet" class="w-[200px]"></a> 
    </div>
</header>