---
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import Drawer from '../components/navigation/Drawer.astro';
import BaseSectionLayout from './BaseSectionLayout.astro';
---
<Header />
<div class="flex flex-1">
	<div class="hidden md:block"><Drawer /></div>
	<BaseSectionLayout>
    <slot />
	</BaseSectionLayout>
</div>  
<Footer />